.instructions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-radius: 4px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.instructions-title {
  margin-bottom: 1.5rem;
}

.instructions-list {
  border-radius: 8px;
  padding: 1rem;
}

.instructions-list-item {
  border-bottom: 1px solid;
}
